{
    "extends": "react-app",
    "parser": "babel-eslint",
    "rules": {
        "eol-last": ["error", "always"]
    },
    "settings": {
      "react": {
        "version": "latest"
      }
    }
}
