[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
channels = "*"
channels-redis = "*"
psycopg2 = "*"
colorlog = "*"
APScheduler = "*"
Django = "*"
djangorestframework = "*"
django-cors-headers = "*"
whitenoise = "*"
dj-database-url = "*"
python-dotenv = {extras = ["cli"], version = "*"}
dj_rest_auth = {extras = ["with_social"], version = "*"}
google-api-python-client = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"
black = "==22.1.0" # Temporary workaround for black (https://github.com/pypa/pipenv/issues/1760)
pre-commit = "*"
