[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[packages]
channels = "==3.*"
channels-redis = "==3.*"
psycopg2 = "==2.*"
colorlog = "==6.*"
celery = { extras = ["redis"], version = "==5.*" }
django-celery-beat = "==2.*"
Django = "==3.*"
djangorestframework = "==3.*"
django-cors-headers = "==3.*"
whitenoise = { extras = ["brotli"], version = "==6.*" }
dj-rest-auth = { extras = ["with_social"], version = "==2.*" }
google-auth-oauthlib = "==0.*"
google-auth-httplib2 = "==0.*"
djangorestframework-simplejwt = "==5.*"
boto3 = "==1.*"
gunicorn = "==20.*"
dj-database-url = "==0.*"

[dev-packages]
black = "==22.*"
pre-commit = "==2.*"
python-dotenv = { extras = ["cli"], version = "==0.*" }
django-extensions = "==3.*"
pyparsing = "==3.*"
pydot = "==1.*"
awsebcli = "==3.*"
django-stubs = "==1.*"
ipython = "==8.*"
ruff = "==0.*"
