option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: mysterio.settings.production
  aws:elbv2:listener:80:
    DefaultProcess: http
    ListenerEnabled: 'true'
    Protocol: HTTP
    Rules: ws
  aws:elbv2:listener:443:
    DefaultProcess: http
    ListenerEnabled: 'true'
    Protocol: HTTPS
    Rules: wss
    SSLCertificateArns: 'arn:aws:iam::799042656970:server-certificate/mysterio-ssl-cert'
  aws:elbv2:listenerrule:ws:
    PathPatterns: /ws/*
    Process: websocket
    Priority: 1
  aws:elbv2:listenerrule:wss:
    PathPatterns: /ws/*
    Process: websocket
    Priority: 2
  aws:elasticbeanstalk:environment:process:http:
    Port: '80'
    Protocol: HTTP
  aws:elasticbeanstalk:environment:process:websocket:
    Port: '5000'
    Protocol: HTTP
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /health
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application

container_commands:
    01_migrate:
        command: "source /var/app/venv/*/bin/activate && python manage.py migrate"
        leader_only: true
    02_collectstatic:
        command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"

