container_commands:
    01_node_install:
        command: "curl -sL https://rpm.nodesource.com/setup_16.x | sudo bash - && sudo yum -y install nodejs"
    02_npm_install:
        command: "npm install"
    03_npm_build:
        command: "npm run build"
    04_collectstatic:
        command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
