commands:
  01_update_yum:
    command: "sudo yum update -y"
  02_enable_postgresql14:
    command: "sudo amazon-linux-extras enable postgresql14"
  03_install_postgresql_devel:
    command: "sudo yum install postgresql-devel -y"

## Below command is used for single-instance local postgres
  04_postgresql_server_setup:
    test: "[ ! -f /usr/bin/psql ]"
    command: |
      sudo yum install postgresql-server -y
      sudo postgresql-setup initdb
      sudo systemctl start postgresql
      sudo systemctl enable postgresql
      sudo sed -i "/^host\s*all\s*all\s*.*$/ s/ident/scram-sha-256/" /var/lib/pgsql/data/pg_hba.conf
      sudo systemctl restart postgresql
      SECRETS_JSON=$(aws secretsmanager get-secret-value --secret-id "mysterio" --region "ap-south-1" --query "SecretString")
      DB_NAME=$(echo "$SECRETS_JSON" | jq -r '.DB_NAME')
      DB_PASS=$(echo "$SECRETS_JSON" | jq -r '.DB_PASSWORD')
      DB_USER=$(echo "$SECRETS_JSON" | jq -r '.DB_USER')
      sudo -u postgres psql -c "CREATE DATABASE ${DB_NAME};"
      sudo -u postgres psql -c "CREATE USER ${DB_USER} WITH PASSWORD '${DB_PASS}';"
      sudo -u postgres psql -c "GRANT ALL PRIVILEGES ON DATABASE ${DB_NAME} TO ${DB_USER};"
