test: "[ ! -f /usr/bin/redis-server ]"  # Check if redis is not already installed

commands:
  01_update_yum:
    command: "sudo yum update -y"
  02_install_redis:
    command: "sudo amazon-linux-extras install redis6"
  03_start_service_and_enable_at_boot:
    command: |
      sudo systemctl start redis
      sudo systemctl enable redis
