Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["mysterio-ssl"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
files:
  "/etc/pki/tls/certs/mysterio.com.key":
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://mysterio-ssl.s3.ap-south-1.amazonaws.com/mysterio.com.key
  "/etc/pki/tls/certs/mysterio.com.pem":
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://mysterio-ssl.s3.ap-south-1.amazonaws.com/mysterio.com.pem
